<label for="title">
	<f:translate key="tx_mediafrontend_domain_model_filecollection.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="status">
	<f:translate key="tx_mediafrontend_domain_model_filecollection.status" />
</label><br />
	<f:form.textfield property="status" /><br />
<label for="image">
	<f:translate key="tx_mediafrontend_domain_model_filecollection.image" />
</label><br />
	<f:form.upload property="image" /><br />
<label for="description">
	<f:translate key="tx_mediafrontend_domain_model_filecollection.description" />
</label><br />
	<f:form.textarea property="description" /><br />
