<table class="tx-media-frontend" >
	<tr>
		<td>
			<f:translate key="tx_mediafrontend_domain_model_filecollection.title" />
		</td>
		<td>
			{fileCollection.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediafrontend_domain_model_filecollection.status" />
		</td>
		<td>
			{fileCollection.status}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediafrontend_domain_model_filecollection.image" />
		</td>
		<td>
			{fileCollection.image}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediafrontend_domain_model_filecollection.description" />
		</td>
		<td>
			{fileCollection.description}
		</td>
	</tr>
</table>