<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for FileCollection</h1>

<f:flashMessages />

<table  class="tx_mediafrontend" >
	<tr>
		<th><f:translate key="tx_mediafrontend_domain_model_filecollection.title" /></th>
		<th><f:translate key="tx_mediafrontend_domain_model_filecollection.status" /></th>
		<th><f:translate key="tx_mediafrontend_domain_model_filecollection.image" /></th>
		<th><f:translate key="tx_mediafrontend_domain_model_filecollection.description" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{fileCollections}" as="fileCollection">
		<tr>
			<td><f:link.action action="show" arguments="{fileCollection : fileCollection}"> {fileCollection.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fileCollection : fileCollection}"> {fileCollection.status}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fileCollection : fileCollection}"> {fileCollection.image}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fileCollection : fileCollection}"> {fileCollection.description}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{fileCollection : fileCollection}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{fileCollection : fileCollection}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New FileCollection</f:link.action>
</f:section>