{namespace t3r=Tx_T3rating_ViewHelpers}
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h3>Single View for FileCollection</h3>
<f:if condition="{settings.debug}">
	<f:debug title="fileCollection">{fileCollection}</f:debug>
</f:if>
<f:flashMessages />
<f:render partial="FileCollection/Properties" arguments="{fileCollection:fileCollection}" />
<h4>Assets in this File Collection</h4>
<t3r:if.isChoice 
	tableName="tx_mediafrontend_domain_model_filecollection"
	recordUid="{fileCollection.uid}"
	votingUid="1">
	<f:then>
		is choice!
		<f:comment><t3r:if.canUserVote /></f:comment> 
		
	</f:then>
	<f:else>
		is not choice!
	</f:else>
</t3r:if.isChoice>
<f:for each="{fileCollection.assets}" as="asset" >
	<f:render partial="Asset/Properties" arguments="{asset:asset}" />
</f:for>
<f:link.action action="list">Back to list</f:link.action><br />
<f:link.action action="new">New FileCollection</f:link.action>
<f:link.action action="newAsset" arguments="{fileCollection:fileCollection}">New Asset</f:link.action>
</f:section>
