<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Asset</h1>

<f:flashMessages />
<f:debug title="assets">{assets}</f:debug>
<f:debug title="settings">{settings}</f:debug>
<table  class="tx_mediafrontend" >
	<tr>
		<th><f:translate key="tx_mediafrontend_domain_model_asset.title" /></th>
		<th><f:translate key="tx_mediafrontend_domain_model_asset.status" /></th>
		<th><f:translate key="tx_mediafrontend_domain_model_asset.file" /></th>
		<th><f:translate key="tx_mediafrontend_domain_model_asset.description" /></th>
		<th><f:translate key="tx_mediafrontend_domain_model_asset.extension" /></th>
		<th><f:translate key="tx_mediafrontend_domain_model_asset.caption" /></th>
		<th><f:translate key="tx_mediafrontend_domain_model_asset.width" /></th>
		<th><f:translate key="tx_mediafrontend_domain_model_asset.height" /></th>
		<th><f:translate key="tx_mediafrontend_domain_model_asset.duration" /></th>
		<th><f:translate key="tx_mediafrontend_domain_model_asset.download_name" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{assets}" as="asset">
		<tr>
			<td><f:link.action action="show" arguments="{asset : asset}"> {asset.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{asset : asset}"> {asset.status}</f:link.action></td>
			<td>
				<f:link.action action="show" arguments="{asset : asset}"> 
					<f:image 
						src="{asset.file.originalResource.uid}" 
						width="{settings.assets.list.image.width}"
						height="{settings.assets.list.image.height}"
						treatIdAsReference="TRUE" 
						alt=""
					/>
				</f:link.action>
				originalResource.uid: {asset.file.originalResource.uid}<br />
				local file title: {asset.file.originalResource.title}<br />
				original file name: {asset.file.originalResource.originalFile.name}
			<f:comment><f:debug title="orginalFile">{asset.file.originalResource}</f:debug></f:comment>
			</td>
			<td><f:link.action action="show" arguments="{asset : asset}"> {asset.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{asset : asset}"> {asset.extension}</f:link.action></td>
			<td><f:link.action action="show" arguments="{asset : asset}"> {asset.caption}</f:link.action></td>
			<td><f:link.action action="show" arguments="{asset : asset}"> {asset.width}</f:link.action></td>
			<td><f:link.action action="show" arguments="{asset : asset}"> {asset.height}</f:link.action></td>
			<td><f:link.action action="show" arguments="{asset : asset}"> {asset.duration}</f:link.action></td>
			<td><f:link.action action="show" arguments="{asset : asset}"> {asset.downloadName}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{asset : asset}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{asset : asset}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Asset</f:link.action>
</f:section>
