<label for="title">
	<f:translate key="tx_mediafrontend_domain_model_asset.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="file">
	<f:translate key="tx_mediafrontend_domain_model_asset.file" />
</label><br />
	<f:form.upload property="file" /><br />
<label for="description">
	<f:translate key="tx_mediafrontend_domain_model_asset.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="caption">
	<f:translate key="tx_mediafrontend_domain_model_asset.caption" />
</label><br />
	<f:form.textfield property="caption" /><br />
<label for="downloadName">
	<f:translate key="tx_mediafrontend_domain_model_asset.download_name" />
</label><br />
	<f:form.textfield property="downloadName" /><br />
