<label for="title">
	<f:translate key="tx_mediafrontend_domain_model_asset.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="file">
	<f:translate key="tx_mediafrontend_domain_model_asset.file" />
</label><br />
	<f:form.textfield property="file" /><br />
<label for="description">
	<f:translate key="tx_mediafrontend_domain_model_asset.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="extension">
	<f:translate key="tx_mediafrontend_domain_model_asset.extension" />
</label><br />
	<f:form.textfield property="extension" /><br />
<label for="caption">
	<f:translate key="tx_mediafrontend_domain_model_asset.caption" />
</label><br />
	<f:form.textfield property="caption" /><br />
<label for="width">
	<f:translate key="tx_mediafrontend_domain_model_asset.width" />
</label><br />
	<f:form.textfield property="width" /><br />
<label for="height">
	<f:translate key="tx_mediafrontend_domain_model_asset.height" />
</label><br />
	<f:form.textfield property="height" /><br />
<label for="duration">
	<f:translate key="tx_mediafrontend_domain_model_asset.duration" />
</label><br />
	<f:form.textfield property="duration" /><br />
<label for="downloadName">
	<f:translate key="tx_mediafrontend_domain_model_asset.download_name" />
</label><br />
	<f:form.textfield property="downloadName" /><br />