<table class="tx-media-frontend" >
	<tr>
		<td>
			<f:translate key="tx_mediafrontend_domain_model_asset.title" />
		</td>
		<td>
			{asset.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediafrontend_domain_model_asset.file" />
		</td>
		<td>
			{asset.file}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediafrontend_domain_model_asset.description" />
		</td>
		<td>
			{asset.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediafrontend_domain_model_asset.extension" />
		</td>
		<td>
			{asset.extension}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediafrontend_domain_model_asset.caption" />
		</td>
		<td>
			{asset.caption}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediafrontend_domain_model_asset.width" />
		</td>
		<td>
			{asset.width}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediafrontend_domain_model_asset.height" />
		</td>
		<td>
			{asset.height}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediafrontend_domain_model_asset.duration" />
		</td>
		<td>
			{asset.duration}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediafrontend_domain_model_asset.download_name" />
		</td>
		<td>
			{asset.downloadName}
		</td>
	</tr>
</table>